<!--
<p style="color: green"><%= notice %></p>
-->

<h1>Ideas</h1>

<div id="ideas">
  <%# @ideas.each do |idea| %>
  <% @ideas.in_groups_of(3, false) do |idea_group| %>
    <div class="row">
      <% idea_group.each do |idea| %>
        <div class="col-md-4 my-3">

    <%#= render idea %>

        <%= link_to idea do %> <!-- p140 -->
    <%#= image_tag(idea.picture_url, width: '100%') if idea.picture.present? %>
    <%= image_tag(idea.picture_url(:thumb), width: '100%') if idea.picture.present? %>
        <% end %>
    <p>
      <%#= link_to "Show this idea", idea unless idea.picture.present? %>
      <%= link_to idea.title, idea unless idea.picture.present? %>
    </p>

        </div> <!-- END of class="col-md-4" -->
      <% end %> <!-- END of idea_group.each -->
    </div> <!-- END of class="row" -->

  <% end %>
</div>

<%#= link_to "New idea", new_idea_path %>
